<body>
    <section> 
        <!-- how to go about stock images? without getting copyrighted -->
        <img class="main-img" src="/asset/moving-stock-img.jpg" alt="Family in the process of moving">
        <div class="eSpacing">
            <div class="centered"> Moving Together </div>
            <div class="centered-staggered"> Let us help you move! </div>
            <button class="sMoving">Start Moving!</button>
        </div>
        {{!-- <div class="centered"> Moving Together </div>
        <div class="centered-staggered"> Let us help you move! </div>
        <button class="sMoving">Start Moving!</button> --}}
    </section>

    <section class="stock-img-centered">
        <img class="s-img2" src="/asset/stock-img2.jpg" alt="Two people unloading a moving-truck">
        <img class="s-img2 fit-img" src="/asset/stock-img5.png" alt="A box, tape, and scissors on a table">
    </section>

    <section>
        <h3 class="h3-spacing"> Hire Movers. </h3>
        <p class="p-text-content"> Or earn money moving items! </p>
    </section>

    <section class="testimonial">
    {{#each tData as |testimonial|}}
            <section class="testimonial-ind">
                <h3 class="tName">
                    {{testimonial.first_name}}
                </h3>
                <p>
                    {{testimonial.user_review}}
                </p>
            </section>
    {{/each}}
    </section>
       
   

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/js/foundation.min.js" crossorigin="anonymous"></script>
</body>
   

