{{log configJobData}}
{{#each configJobData}}
  <section class="testimonial">
    <section class="testimonial-ind">
      <h3>
        {{location}}
      </h3>
      <h4>
        Number of Workers Needed: {{number_workers}}
      </h4>
      <p>
        At a Rate: ${{cost_per_worker}}/hour
      </p>
      <button class="submit success button">Sign Up!</button>
    </section>
  </section>
{{/each}}