{{!-- form 
email and password 
inut fields with id of email and password respectively 
--}}

<form class="form-format">
    <input id="email" placeholder="Email">
    <input id="password" placeholder="Password">
    <button class="submit-btn-styles" type="submit">Login</button>

</form>








<script src="/js/login.js"></script>