{{!-- form 
email and password 
inut fields with id of email and password respectively 
--}}

<form class="form-format">
    <h2 class="welcome-greeting" >Welcome Back</h2>
    <input id="ret-email" placeholder="Email">
    <input id="ret-password" placeholder="Password">
    <button class="submit-btn-styles" type="submit">Login</button>

</form>








<script src="/js/login.js"></script>