<form class="form-format">
    <h2 class="welcome-greeting">Welcome Back</h2>
    <input id="ret-email" placeholder="Email" type="email">
    <input id="ret-password" placeholder="Password" type="password">
    <button class="submit-btn-styles" type="submit">Login</button>

</form>


<script src="/js/login.js"></script>