<h1 class="centerText">Pricing of current jobs</h1>
{{log compData}}

{{#each compData}}
  <section class="testimonial centerText form-format">
    <section class="testimonial-ind">
      <h3 class="" >Job ID: {{job_id}}</h3>
      <h3 class="" >Pay: ${{compensation}}</h3>
    </section>
  </section>
{{/each}}
