<div class="container-signup">
    <form class="form-format-signup" id="sign-up">

        <h2 class="signup">Sign Up</h2>
        <label for="f_name">First Name:</label>
        <input id="f_name" placeholder=" First Name" required>

        <label for="l_name">Last Name:</label>
        <input id="l_name" placeholder=" Last Name" required>

        <label for="z_code">Zipcode:</label>
        <input id="z_code" placeholder=" Zipcode" required>

        <div class="inline">
            <label for="checkbox">Worker:</label>
            <input class="vertical-center" type="checkbox" id="work" placeholder="checkbox">
        </div>

        <label for="email">Email:</label>
        <input id="email" placeholder=" Enter an Email" required>

        <label for="password">Password:</label>
        <input id="password" placeholder=" Create a password" required>

        <button class="submit-btn-styles" type="submit">Sign Up</button>

        <div class="loop-wrapper">
            <div class="mountain"></div>
            <div class="hill"></div>
            <div class="tree"></div>
            <div class="tree"></div>
            <div class="tree"></div>
            <div class="rock"></div>
            <div class="truck"></div>
            <div class="wheels"></div>
        </div>

    </form>
</div>



<script src="/js/signup.js"></script>