<form class="form-format" id="sign-up" >

    <h2 class="welcome-greeting">Sign Up</h2>
    <label for="f_name">First Name:</label>
    <input id="f_name" placeholder=" First Name" required>
    
    <label for="l_name">Last Name:</label>
    <input id="l_name" placeholder=" Last Name" required>

    <label for="z_code">Zipcode:</label>
    <input id="z_code" placeholder=" Enter an zipcode" required>

    <label for="checkbox">Worker:</label>
    <input type="checkbox" id="work" >
    
    <label for="email">Email:</label>
    <input id="email" placeholder=" Enter an Email" required>

    <label for="password">Password:</label>
    <input id="password" placeholder=" Create a password" required>
   
    <button class="submit-btn-styles" type="submit">Sign Up</button>

</form>

<script src="/js/signup.js"></script>

