<form class="form-format">

    <h2 class="welcome-greeting">Sign Up</h2>
    <label for="f_name">First Name:</label>
    <input id="f_name" placeholder=" First Name">
    
    <label for="l_name">Last Name:</label>
    <input id="l_name" placeholder=" Last Name">

    <label for="z_code">Zipcode:</label>
    <input id="z_code" placeholder=" Enter an zipcode">

    <label for="checkbox">Worker:</label>
    <input type="checkbox" id="work">
    
    <label for="email">Email:</label>
    <input id="email" placeholder=" Enter an Email">

    <label for="password">Password:</label>
    <input id="password" placeholder=" Create a password">
   
    <button class="submit-btn-styles" type="submit">Sign Up</button>

</form>

<br> </br>
<br> </br>


<script src="/public/js/signup.js"></script>

