<form class="form-format">
    <h2 class="welcome-greeting">Welcome</h2>
    <input id="email" placeholder=" Enter an Email">
    <input id="password" placeholder="Create a password">
    <button class="submit-btn-styles" type="submit">Login</button>

</form>

