 {{#each testimonials as |testimonial|}}
        <section class="testimonial">
            <section class="testimonial-ind">
                <h3>
                    {{testimonial.first_name}}
                </h3>
                <h4>
                    {{testimonial.date_of_submission}}
                </h4>
                <p>
                    {{testimonial.user_review}}
                </p>
            </section>
        </section>
    {{/each}}