{{log userInfo}}
<header>
    <h2 id="wb">Welcome Back {{userInfo.first_name}}! </h2>
</header>

<section id="btns">
    <a href="/createjob"> <button id="fm"> Find Movers </button> </a>

    <a href="/jobs"> <button id="fj"> Find a Job </button> </a>
</section>
<section>

<br> </br>
<br> </br>
<br> </br>
<br> </br>
<br> </br>
<br> </br>
<br> </br>
<br> </br>
<br> </br>
<br> </br>
<br> </br>
<br> </br>

</section>

<script src="/js/login.js"></script>