{{userInfo}}

<header>
    <h2 id="wb">Welcome Back! {{userInfo.first_name}}</h2>
</header>

<section id="btns">
    <button id="fm"> Find Movers </button>

    <button id="fj"> Find a Job </button>
</section>

<script src="/js/login.js"></script>